#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*"]}]
 :plugins [:orchestra
           :preloads]
 :kaocha.plugin.preloads/ns-names [simple-cors.specs]}
